/* 网页头部 */
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: red;
}
.header{
    position: relative;
    width: 100%;
    height: 650px;
}
.header-top{
    width: 100%;
    height: 120px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}
.header-top>.logo>img{
    width: 110px;
    height: 110px;
    margin-left: 10px;
    margin-top: 2px;
}
.header-top>.header-text{
    font-size: 4vw;
    position: absolute;
    top:10px;
    color: white; 
}
.header-top>.header-text>span{
    display: block;
    margin-left: 160px;
}
.header-top>.header-text>.header-us{
    font-size: 0.8em;
    
}
.header-top>.header-click{
    font-size: 3em;
    border:1px solid white;
    border-radius: 2%;
    padding: 20px;
    float: right;
    top: -93px;
    right: 30px;
    color: white;
    
}
/* 右侧关闭菜单按钮 */
.rigth-menu>.close{
    border: 1px solid black;

}
/* 右侧菜单 */
.rigth-menu{
    width: 0%;
    height: 100%;
    background-color: #F7F7F7;
    position: fixed;
    z-index: 17;
    right: 0;
}
.rigth-menu>.menu-center{
    padding: 0;
}
.rigth-menu>.menu-center>li{
    margin-bottom: 10px;
    color: #F7F7F7;
    text-align: center;
    font-size: 6vw;
    background-color: #436EEE;
    list-style: none; 
}

/* 点击菜单背景颜色 */
.bg{
    width: 100%;
    height: 100%;
    z-index: 16;
    position: fixed;
    top: 0;
    background-color: rgb(102, 102, 102);
    opacity: 0.6;

}
/* ================================= */
/* 轮播广告 */
.broadcast{
    width: 100%;
    height: auto;
    position: absolute;
}
/* .broadcast>ul{
    margin: 0;
    padding: 0;
} */
.broadcast>div>.carousel-inner>div>img{
    width: 100%;
    height: auto;
}